.app-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--dark-bg), var(--dark-bg), black);
  color: var(--text-light);
  font-family: sans-serif;
  scroll-behavior: smooth;
}
